* {
    box-sizing: border-box;
}

html {
    font-family: Montserrat, sans-serif;
    line-height: 1.6;
    // color: $clr2;
}

body {
    margin: 0;
    background-color: antiquewhite;
    // background-image: url('~@/assets/images/cats-pattern-background_1425-90.jpg');
    // background-size: 180px;
    // background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1rem;
    margin: 0px;
}

h1 {
    font-size: rem(50px);
}

p {
    max-width: 48ch;
    margin: 0 0 1rem;
}
