//flex
.flex {
    display: flex;
    &.columns {
        flex-direction: column;
    }
    &.j-between {
        justify-content: space-between;
    }
    &.j-around {
        justify-content: space-around;
    }
    &.j-center {
        justify-content: center;
    }
    &.a-flex-end {
        align-items: flex-end;
    }
    &.a-center {
        align-items: center;
    }
}

//flex
.grid {
    display: grid;
}
.site-block {
    margin-bottom: rem(20px);
}

// Aspect ratios

.ratio-16-9 {
    @include aspect-ratio(100, 56);
}

.ratio-square {
    @include aspect-ratio(100, 100);
}

.ratio-card {
    @include aspect-ratio(100, 80);
}

.ratio-poster {
    @include aspect-ratio(100, 150);
}
