.stay-card {
  display: grid;
  // gap: 30px 15px;
  grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));

  .backoffice-card {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      padding: 5px;
      object-fit: cover;
    }

  }
}