.category-list {
  display: grid;
  max-width: 1210px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  .category {
    margin: 0 auto;
    cursor: pointer;
    width: 100%;
    height: 250px;
    img {
      border-radius: 10px;
      width: 100%;
      border-radius: 10px;
      object-fit: cover;
      height: 90%;
    }
 
  }
}

@include for-mobile-layout {
  .category-list{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      padding-left:20px;
      padding-right:20px;
  }  
  h1{
     font-size: 2rem;
  }
  .stays-header ,.category-header ,.stay-list{
     padding-right: 20px;
     padding-left: 20px;
  }
}