.stay-carousel{
    display: grid;
    gap: 30px 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .stay-list{
    margin-bottom: 100px;
  }
  
  @include for-narrow-layout {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  
  img {
    border-radius: 10px;
    margin-bottom: 0.5rem;
    object-fit: cover;
    cursor: pointer;
  }
  
  >* {
    grid-column: span 1;
  }