.stay {
  position: relative;
  max-width: 1210px;
  margin: 0 auto;
  .sub-header {
    .rating {
      .sub-review {
        padding-right: 5px;
      }
      .fas {
        padding-right: 10px;
      }
      .rate {
        font-weight: 600;
      }
    }
  }
  .sub-header > * {
    padding: 10px;
  }
  .sub-header > *:first-child {
    padding: 0px;
  }
  .rateing {
    display: inline;
  }
  .underTitle-addres {
    text-decoration: underline;
    color: #0c0c0c;
  }
  .stay-page-container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    gap: 15px 10px;
    grid-template-areas:
      'img0 img0 img1 img2'
      'img0 img0 img3 img4';
    height: auto;
    padding: 0;
    padding-top: 24px;
    .stay-page-img-container:nth-child(1) {
      grid-column: 1/3;
      grid-row: 1/3;
      // border-radius: 15px 0 0 15px;
      .img0 {
        border-radius: 15px 0 0 15px;
      }
    }
    .img:hover {
      filter: brightness(90%);
      cursor: pointer;
    }
    .stay-page-img-container {
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .img0 {
        grid-row: 1/3;
        grid-column: 1/3;
      }
      .img1 {
        grid-area: img1;
      }
      .img2 {
        grid-area: img2;
        border-top-right-radius: 15px;
      }
      .img3 {
        grid-area: img3;
      }
      .img4 {
        grid-area: img4;
        border-bottom-right-radius: 15px;
      }
    }
  }
  .review-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .amenities-header {
    padding-top: 50px;
  }
  .stay-page-amenities-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 27px;
    width: 60%;
    padding: 0;
    padding-bottom: 32px;
    .amenities-desc {
      margin-left: 16px;
    }
  }
}
// .right-side {
// 	max-width: 650px;
// }


  .host-details {
    padding-top: 48px;
    padding-bottom: 24px;
    margin-bottom: 20px;
    max-width: 650px;
    .host-image{
      img {
        border-radius: 50%;
      }
      
    }
  }

.right-side-container {
 
  .about-host {
    h2 {
      font-weight: 700;
    }
  }
  .stay-page-accommodates {
    margin: 15px;
    border: 1px rgba(59, 56, 56, 0.795) solid;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 200px;
    text-align: center;
    > * {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
    }
  }
  .stay-reviews,
  .google-map {
    height: 50vh;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .stay-reviews {
    margin-top: 85px;
    // max-width: 650px;
    height: 100%;
    .reviews-grid {
      // grid-template-columns: 1fr 1fr;
      column-gap: 246px;
      padding: 0;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

      display: grid;
      row-gap: 50px;
    }
    h3 {
      font-weight: 600;
      .fas {
        padding-right: 10px;
      }
    }
  }
  .host-image {
    img {
      width: 72px;
      height: 72px;
      border-radius: 50%;
    }
  }
  .amenity-img {
    width: 25px;
  }
  .user-review-txt {
    .para {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
    .removeP {
      line-clamp: unset;
      box-orient: unset;
    }
  }
  .user-review-avatar {
    img {
      width: 50px;
      border-radius: 50%;
    }
  }
  .reviewer-name {
    font-weight: 700;
  }
  .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-inline-end: 12px;
  }
  .el-progress-bar__inner {
    background-color: #ff385c;
  }
  .reviews-rate-list {
    text-align: left;
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-bottom: 90px;
    // -moz-column-gap: 10px;
    column-gap: 10px;
  }
}
@include for-mobile-layout{
    .stay{
        padding-left: 20px;
        padding-right: 20px;
  .stay-page-container{
      display: block;
      .stay-page-img-container{
          img{
              border-radius: 10px!important;
            }
      }
   
  }
  .stay-page-amenities-container{
      column-gap: 65px;
    }
}
.underTitle-addres{
    display: flex;
}
}